aiofiles==23.1.0
aiohttp==3.8.4
aioquic==1.0.0
aiosignal==1.3.1
altair==5.0.1
altgraph==0.17.3
anyio==4.1.0
asgiref==3.7.2
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
black==23.9.0
blinker==1.6.2
boltons @ file:///C:/b/abs_707eo7c09t/croot/boltons_1677628723117/work
boto3==1.26.153
botocore==1.29.153
Brotli==1.1.0
brotlipy==0.7.0
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
channels==3.0.2
chardet @ file:///C:/ci_310/chardet_1642114080098/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
conda @ file:///C:/b/abs_a1khk4epoo/croot/conda_1685025197412/work
conda-build==3.24.0
conda-content-trust @ file:///C:/Windows/TEMP/abs_4589313d-fc62-4ccc-81c0-b801b4449e833j1ajrwu/croots/recipe/conda-content-trust_1658126379362/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///C:/b/abs_fcga8w0uem/croot/conda-package-handling_1672865024290/work
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_package_streaming @ file:///C:/b/abs_0e5n5hdal3/croot/conda-package-streaming_1670508162902/work
constantly==23.10.4
contourpy==1.2.1
coverage==7.3.1
crypto==1.4.1
cryptography==42.0.8
cssselect==1.2.0
cycler==0.12.1
cyclonedx-bom==3.11.2
cyclonedx-python-lib==3.1.5
daphne==3.0.2
DataRecorder==3.4.15
distlib==0.3.8
Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
docutils==0.20.1
DownloadKit==2.0.1
DrissionPage==4.0.5.5
EditorConfig==0.12.3
einops==0.6.1
emoji==2.8.0
encodec==0.1.1
eric-ide==23.9.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastapi==0.97.0
ffmpy==0.3.0
filelock==3.14.0
Flask==3.0.3
fonttools==4.53.1
frozenlist==1.3.3
funcy==2.0
future @ file:///C:/b/abs_3dcibf18zi/croot/future_1677599891380/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gradio==3.34.0
gradio_client==0.2.6
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.15.1
hyperframe==6.0.1
hyperlink==21.0.0
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
incremental==22.10.0
isort==5.12.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jmespath==1.0.1
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
kaitaistruct==0.10
kiwisolver==1.4.5
ldap3==2.9.1
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
linkify-it-py==2.0.2
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
matplotlib==3.9.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
menuinst @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_455sf5o0ct/croots/recipe/menuinst_1661805970842/work
mitmproxy==10.3.1
mitmproxy-windows==0.5.2
mitmproxy_rs==0.5.2
mplfinance==0.12.10b0
msgpack==1.0.8
multidict==6.0.4
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
mysqlclient==2.2.0
Naked==0.1.32
numpy==1.25.2
openpyxl==3.1.2
orjson==3.9.1
outcome==1.3.0.post0
packageurl-python==0.11.2
packaging @ file:///C:/b/abs_ed_kb9w6g4/croot/packaging_1678965418855/work
pandas==2.1.0
parsel==1.8.1
parso==0.8.3
passlib==1.7.4
pathspec==0.11.2
pefile==2023.2.7
pillow==10.4.0
pip-requirements-parser==32.0.1
pkginfo @ file:///C:/b/abs_d18srtr68x/croot/pkginfo_1679431192239/work
platformdirs==3.10.0
playwright==1.44.0
pluggy @ file:///C:/ci/pluggy_1648042746254/work
prettytable==3.9.0
Protego==0.3.0
protobuf==4.21.12
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
publicsuffix2==2.20191221
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycosat @ file:///C:/b/abs_4b1rrw8pn9/croot/pycosat_1666807711599/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.20.0
pydantic==1.10.9
PyDispatcher==2.0.7
pydivert==2.1.0
pydub==0.25.1
pyee==11.1.0
pyenchant==3.2.2
PyExecJS2==1.6.1
Pygments==2.15.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pylsqpack==0.3.18
PyMySQL==1.1.0
pyOpenSSL==24.1.0
pyparsing==3.1.1
pyperclip==1.8.2
pypng==0.20220715.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqt5-tools==5.15.9.3.3
PyQt6==6.5.2
PyQt6-Charts==6.5.0
PyQt6-Charts-Qt6==6.5.2
PyQt6-QScintilla==2.14.1
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
PyQt6-WebEngine==6.5.0
PyQt6-WebEngine-Qt6==6.5.2
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PySide2==5.15.2.1
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz @ file:///C:/b/abs_22fofvpn1x/croot/pytz_1671698059864/work
pywin32==306
pywin32-ctypes==0.2.2
PyYAML @ file:///C:/b/abs_d0g7dqt2xw/croot/pyyaml_1670514768165/work
qrcode==7.4.2
QScintilla==2.14.0
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
queuelib==1.6.2
redis==5.0.4
requests @ file:///C:/b/abs_41owkd5ymz/croot/requests_1682607524657/work
requests-file==1.5.1
ruamel.yaml @ file:///C:/b/abs_30ee5qbthd/croot/ruamel.yaml_1666304562000/work
ruamel.yaml.clib @ file:///C:/b/abs_aarblxbilo/croot/ruamel.yaml.clib_1666302270884/work
s3transfer==0.6.1
scipy==1.14.0
Scrapy==2.11.0
selenium==4.16.0
semantic-version==2.10.0
semver==3.0.1
service-identity==24.1.0
shellescape==3.8.1
shiboken2==5.15.2.1
shiboken6==6.7.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve @ file:///C:/b/abs_a989exj3q6/croot/soupsieve_1680518492466/work
sqlparse==0.4.4
starlette==0.27.0
suno-bark @ git+https://github.com/suno-ai/bark.git@f6f2db527b13c4a3e52ed6fbac587aadc3723eb6
tldextract==5.1.1
toml==0.10.2
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tomlkit==0.12.1
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch==2.0.1
torchaudio==2.0.2
tornado==6.4
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
trio==0.23.1
trio-websocket==0.11.1
trove-classifiers==2023.8.7
Twisted==22.10.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
undetected-chromedriver==3.5.5
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
urwid-mitmproxy==2.1.2.1
uvicorn==0.22.0
virtualenv==20.26.2
w3lib==2.1.2
wcwidth==0.2.6
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.3
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
wsproto==1.2.0
xlrd==2.0.1
yarl==1.9.2
zope.interface==6.1
zstandard==0.19.0
